/* ======================  Overlay Start  ======================*/
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: hsl(var(--black) / 0.4);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  z-index: 12;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

/* ======================  Overlay End  ======================*/
.fw--600 {
  font-weight: 600;
}

.card {
  background-color: hsl(var(--white)) !important;
  border-radius: 24px !important;
  padding: 24px !important;
  border: 1px solid hsl(var(--border-color)) !important;

  @include xsm-screen {
    padding: 12px !important;
  }
}

/* ======================  Section Heading Start  ======================*/
.section-heading {
  text-align: center;
  margin-bottom: 48px;

  @include msm-screen {
    max-width: 430px;
    margin-inline: auto !important;
  }
}

.section-heading h2 {
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 700;

  @include xsm-screen {
    font-size: 24px;
  }
}

.section-heading p {
  font-size: 22px;
  font-weight: 400;
  color: hsl(var(--body-color));

  @include sm-screen {
    font-size: 16px;
  }
}

.section__heading a {
  margin-top: 40px;

  @include sm-screen {
    margin-top: 24px;
  }
}

.section-heading__subtitle {
  font-size: 16px;
  font-weight: 700;
  color: hsl(var(--black));
  margin-bottom: 24px;
}

/* ======================  Section Heading End  ======================*/

/* ======================  Swiper Start  ======================*/
.swiper-pagination {
  position: unset;
  margin-top: 32px;

  @include lg-screen {
    margin-top: 24px;
  }

  &-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 24px;
    background: hsl(var(--base) / 0.3);
    opacity: 1;
    transition: 0.3s;

    &-active {
      opacity: 1;
      background: hsl(var(--base));
      width: 20px;
    }
  }
}

/* ======================  Swiper End  ======================*/

.btn--text {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 12px;

  &:hover {
    i {
      transform: rotate(265deg);
    }
  }
  i {
    transform: rotate(218deg);
    transition: 0.3s;
  }
}

/* ======================  wyg Start  ======================*/
.wyg h1,
.wyg h2,
.wyg h3,
.wyg h4,
.wyg h5 {
  color: hsl(var(--heading-color));
  margin-bottom: 12px;
  margin-top: 20px;
}

.wyg p {
  font-size: 16px;
  margin-bottom: 14px;
}

@media screen and (max-width: 767px) {
  .wyg p {
    font-size: 14px;
    margin-bottom: 14px;
  }
}

.wyg h2 {
  margin-bottom: 32px;
}

@media screen and (max-width: 991px) {
  .wyg h2 {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .wyg h2 {
    margin-bottom: 14px;
  }
}

.wyg ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 28px;
  list-style: disc;
  padding-left: 32px;
}

@media screen and (max-width: 991px) {
  .wyg ul {
    gap: 14px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .wyg ul {
    gap: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
  }
}

.wyg ul li {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .wyg ul li {
    font-size: 14px;
  }
}

.wyg ol {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 48px;
  list-style: decimal;
  padding-left: 32px;
}

@media screen and (max-width: 991px) {
  .wyg ol {
    gap: 14px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .wyg ol {
    gap: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
  }
}

/* ======================  wyg End  ======================*/
/* ======================  filter start  ======================*/
.filter__wrap {
  position: relative;
}

.filter__main {
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  z-index: 12;
  background-color: hsl(var(--white));
  width: 500px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  transform: scale(0.9);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;

  @include sm-screen {
    width: 300px;
  }

  &.active {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

.filter__close {
  font-size: 18px;
  cursor: pointer;
  color: hsl(var(--heading-color));
  transition: 0.3s;
}

.filter__close:hover {
  color: hsl(var(--danger));
}

.filter__topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.filter__topbar h5 {
  margin-bottom: 0;
}

.filter__topbar a {
  font-size: 14px;
  font-weight: 500;
}

.filter__card h5 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.filter__form {
  border: 1px solid hsl(var(--black) / 0.08);
  border-radius: 8px;
  padding: 18px;
  max-height: 230px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px hsl(var(--base) / 0.2);
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background: hsl(var(--base) / 0.7);
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--base));
  }

  .form-check {
    margin-bottom: 18px;
    justify-content: space-between;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.filter__range {
  border: 1px solid hsl(var(--black) / 0.08);
  border-radius: 8px;
  padding: 22px 18px 18px 18px;
}
/* ======================  filter End  ======================*/

/* Responsive Scroll Table */

.scroll__table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  @include lg-screen {
    overflow-x: visible;
  }
}
.scroll__table table {
  width: 100%;
  min-width: 900px;
  border-collapse: collapse;
  @include md-screen {
    min-width: 100%;
  }
}
.scroll__table::-webkit-scrollbar-track {
  background: hsl(var(--black) / 0.1);
}

// gsap animation js
.brand .swiper-slide img {
  transition: all 0.3s ease;
}

.brand .swiper-slide:hover img {
  transform: scale(1.1);
}
// gsap animation js

// custom form

.input-group-custom {
  border-radius: 15px;
  border: 1px solid hsl(var(--border-color));

  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  padding: 21px 16px;
  height: 68px;
}

.input-group-custom:focus-within {
  border-color: hsl(var(--base));
}

.input-group-custom:has(> a) {
  padding: 8px 8px 8px 16px;
}

.input-group-custom__icon {
  color: hsl(var(--body-color));
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 140%;
}

.input-group-custom__input {
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: none !important;
  border-radius: 0px !important;
  background: transparent !important;
  -webkit-backdrop-filter: unset !important;
  backdrop-filter: unset !important;
  padding: 0px !important;
  color: hsl(var(--black)) !important;
}

.input-group-custom__input::-webkit-input-placeholder {
  color: hsl(var(--black) / 0.2);
}

.input-group-custom__input::-moz-placeholder {
  color: hsl(var(--black) / 0.2);
}

.input-group-custom__input:-ms-input-placeholder {
  color: hsl(var(--black) / 0.2);
}

.input-group-custom__input::-ms-input-placeholder {
  color: hsl(var(--black) / 0.2);
}

.input-group-custom__input::placeholder {
  color: hsl(var(--black) / 0.2);
}

.input-group-custom__input:focus {
  border: none !important;
  outline: none !important;
}

.input-group-custom__input:focus:not(:disabled):not(
    [readonly]
  )::-webkit-input-placeholder {
  color: hsl(var(--black) / 0.02) !important;
}

.input-group-custom__input:focus:not(:disabled):not(
    [readonly]
  )::-moz-placeholder {
  color: hsl(var(--black) / 0.2) !important;
}

.input-group-custom__input:focus:not(:disabled):not(
    [readonly]
  ):-ms-input-placeholder {
  color: hsl(var(--black) / 0.2) !important;
}

.input-group-custom__input:focus:not(:disabled):not(
    [readonly]
  )::-ms-input-placeholder {
  color: hsl(var(--black)) !important;
}

.input-group-custom__input:focus:not(:disabled):not([readonly])::placeholder {
  color: hsl(var(--black) / 0.2) !important;
}

.input-group-custom__link {
  padding: 8px 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  color: hsl(var(--white));
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  white-space: nowrap;
}

@media screen and (max-width: 575px) {
  .input-group-custom__link {
    font-size: 0.875rem;
    padding: 8px;
  }
}

.input-group-custom__link:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input-group-custom__link:hover {
  color: hsl(var(--base-two)) !important;
}
