<!--==========================  Footer Section Start  ==========================-->
<section class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <h1 class="footer__wrapper__bg">Virtual Cards</h1>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="footer__left">
                        <div class="footer__content">
                            <a href="#" class="footer__logo">
                                <img src="assets/images/logo/logo.png" alt="image">
                            </a>
                            <p class="footer__left__desc">The most secure and developer-friendly card issuing platform
                                for fintech startups and SaaS businesses.</p>
                            <p class="footer__left__copyright">© 2026, Crypture Licenses</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 ">
                    <div class="footer__items">
                        <p class="footer__items__title">Main</p>
                        <ul>
                            <li class="footer__items__link"> <a href="email.html">About Us</a></li>
                            <li class="footer__items__link"> <a href="email-check.html"> Blog</a></li>
                            <li class="footer__items__link"><a href="#">Security </a> </li>
                            <li class="footer__items__link"><a href="#">Contact </a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-6 ">
                    <div class="footer__items">
                        <p class="footer__items__title">Legal</p>
                        <ul>
                            <li class="footer__items__link"> <a href="#">Privacy Policy</a></li>
                            <li class="footer__items__link"> <a href="#"> Terms of Service</a></li>
                            <li class="footer__items__link"><a href="#">Cookie Policy</a> </li>
                            <li class="footer__items__link"><a href="#">Compliance</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4  ">
                    <div class="footer__items">
                        <p class="footer__items__title">Follow Us</p>
                        <ul>
                            <li class="footer__items__link"> <a href="#">LinkedIn<i
                                        class="fa-solid fa-arrow-down"></i></a></li>
                            <li class="footer__items__link"> <a href="#"> Discord<i
                                        class="fa-solid fa-arrow-down"></i></a>
                            </li>
                            <li class="footer__items__link"><a href="#">X (Twitter) <i
                                        class="fa-solid fa-arrow-down"></i></a> </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--==========================  Footer Section End  ==========================-->