/* ======================  Footer Section Start  ======================*/
.footer {
  &__content {
    @include md-screen {
      margin-bottom: 24px;
    }
  }
  &__wrapper {
    border-left: 1px solid hsl(var(--border-color));
    border-right: 1px solid hsl(var(--border-color));
    padding: 100px 40px;
    position: relative;
    z-index: 1;
    padding-bottom: 20px;

    @include sm-screen {
      padding: 40px 16px;
    }
    @include xsm-screen {
      padding: 30px 8px;
    }

    &__bg {
      font-size: 190px;
      text-align: center;
      white-space: nowrap;
      position: relative;
      z-index: -1;
      background-image: linear-gradient(
        3deg,
        hsl(var(--base-l-300)) 0%,
        hsl(var(--base-two) / 0.01) 100%
      );
      -webkit-text-fill-color: transparent;
      background-clip: text;
      opacity: 0.1;
      line-height: 1;
      margin-bottom: 0;
      margin-top: -60px;

      @include lg-screen {
        font-size: 126px;
        bottom: 27%;
      }

      @include md-screen {
        font-size: 91px;
        bottom: 22%;
      }

      @include msm-screen {
        font-size: 62px;
        bottom: 14%;
      }

      @include xsm-screen {
        font-size: 44px;
        bottom: 9%;
      }
    }
  }

  &__logo {
    max-width: 166px;
    margin-bottom: 8px;
  }

  &__left {
    &__desc {
      font-size: 16px;
      font-weight: 400;
      color: hsl(var(--body-color));
      margin-bottom: 38px;

      @include md-screen {
        margin-bottom: 10px;
      }
    }

    &__copyright {
      font-size: 16px;
      font-weight: 400;
      color: hsl(var(--body-color));
    }
  }

  &__items {
    &__title {
      font-size: 14px;
      font-weight: 400;
      color: hsl(var(--black));
      margin-bottom: 16px;
    }

    &__link a {
      font-size: 14px;
      font-weight: 400;
      color: hsl(var(--body-color));
      background-image: linear-gradient(
        transparent calc(100% - 2px),
        currentColor 5px
      );
      background-repeat: no-repeat;
      background-size: 0% 100%;
      transition: background-size 0.5s;
      display: inline-flex;
      gap: 24px;
      align-items: center;
      margin-bottom: 16px;

      i {
        transform: rotate(218deg);
        transition: 0.3s;
      }

      &:hover {
        color: hsl(var(--base));
        background-size: 100% 100%;

        i {
          transform: rotate(267deg);
        }
      }
    }
  }
}
/* ======================  Footer Section End  ======================*/
