/* =========================== Accordion Css start ============================= */
.accordion {
  .accordion-item {
    border: 0;

    border-bottom: 1px solid hsl(var(--black) / 0.09);
    background-color: transparent !important;

    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .accordion-header {
    line-height: 1;
  }

  .accordion-body {
    padding: 0;
    padding-bottom: 32px;
    .text {
      max-width: 60%;

      @include msm-screen {
        max-width: 100%;
      }
    }
  }

  &:first-of-type .accordion-button.collapsed {
    border-radius: 0px;
  }

  &:last-of-type .accordion-button.collapsed {
    border-radius: 0px;
  }

  .accordion-button {
    color: var(--heading-color);
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
    padding-left: 0;
    padding-bottom: 32px;

    &:hover,
    &.active {
      color: hsl(var(--base));
    }

    @include msm-screen {
      padding: 13px;
      padding-right: 30px;
    }

    &::after {
      background-image: none;
    }

    &:focus {
      box-shadow: none;
    }

    &:not(.collapsed) {
      color: hsl(var(--heading-color));
      background-color: transparent !important;
      box-shadow: none;

      &:hover,
      &.active {
        color: hsl(var(--base));
      }

      &::after {
        background-image: none;
        color: hsl(var(--base));
      }
    }

    &[aria-expanded="true"],
    &[aria-expanded="false"] {
      &::after {
        font-family: "Line Awesome Free";
        font-weight: 900;
        content: "\f00d";
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        height: unset;
      }
    }

    &[aria-expanded="false"] {
      &::after {
        content: "\f067";
        color: hsl(var(--body-color));
      }
    }
  }
}

/* ================================= Accordion Css End =========================== */
