// /* ====================================== Alert Css Start =============================== */

.alert {
  display: flex;
  gap: 12px;
  border-radius: 12px;
  &__title {
    font-size: 14px;
    font-weight: 400;
  }

  &__desc {
    font-size: 14px;
    font-weight: 400;
  }

  &__icon {
    font-size: 16px;
  }

  &--base {
    background-color: hsl(var(--base) / 0.1);
    border-color: hsl(var(--base));
    .alert__icon {
      color: hsl(var(--base)) !important;
    }

    .alert__title {
      color: hsl(var(--base-d-300)) !important;
    }

    .alert__desc {
      color: hsl(var(--base)) !important;
    }
  }
  &--success {
    background-color: hsl(var(--success) / 0.1);
    border-color: hsl(var(--success));
    .alert__icon {
      color: hsl(var(--success)) !important;
    }

    .alert__title {
      color: hsl(var(--success-d-300)) !important;
    }

    .alert__desc {
      color: hsl(var(--success)) !important;
    }
  }
  &--success {
    background-color: hsl(var(--info) / 0.1);
    border-color: hsl(var(--info));
    .alert__icon {
      color: hsl(var(--info)) !important;
    }

    .alert__title {
      color: hsl(var(--info-d-300)) !important;
    }

    .alert__desc {
      color: hsl(var(--info)) !important;
    }
  }
  &--danger {
    background-color: hsl(var(--danger) / 0.1);
    border-color: hsl(var(--danger));
    .alert__icon {
      color: hsl(var(--danger)) !important;
    }

    .alert__title {
      color: hsl(var(--danger-d-300)) !important;
    }

    .alert__desc {
      color: hsl(var(--danger)) !important;
    }
  }
}

// /* ====================================== Alert Css End =============================== */
