/* ================================= Tab Css Start =========================== */
.custom--tab {
  justify-content: center;
  border-radius: 6px;
  margin-bottom: 60px;
  gap: 18px;

  @include xxsm-screen {
    gap: 4px;
  }

  .nav-item {
    border-bottom: 0;
    padding: 5px;

    .nav-link {
      color: hsl(var(--heading-color));
      padding: 16px;
      background-color: hsl(var(--white)) !important;
      border-radius: 16px;
      transition: 0.4s;
      border: 1px solid hsl(var(--border-color)) !important;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 16px;
      font-weight: 700;

      @include lg-screen {
        padding: 12px 15px;
      }

      @include xsm-screen {
        padding: 8px 11px;
        border-radius: 12px;
        font-size: 14px;
      }

      &:hover,
      &.active {
        color: hsl(var(--black));
        background-color: hsl(var(--white)) !important;
        border: 1px solid hsl(var(--base)) !important;
        box-shadow:
          0 108px 30px 0 hsl(var(--black) / 0),
          0 69px 28px 0 hsl(var(--black) / 0.01),
          0 39px 23px 0 hsl(var(--black) / 0.05),
          0 17px 17px 0 hsl(var(--black) / 0.09),
          0 4px 10px 0 hsl(var(--black) / 0.01);

        span {
          color: hsl(var(--base));
        }
      }
    }

    #pills-disabled-tab.nav-link {
      background-color: hsl(var(--black) / 0.04) !important;
      color: hsl(var(--heading-color) / 0.6);
    }
  }
}

/* ================================= Tab Css End =========================== */
