/* ======================  About Section Start  ======================*/
.about {
  border-bottom: 1px solid hsl(var(--border-color));
  &__wrapper {
    border-left: 1px solid hsl(var(--border-color));
    border-right: 1px solid hsl(var(--border-color));

    padding: 100px 40px;
    padding-top: 124px;

    @include sm-screen {
      padding: 40px 16px;
      padding-top: 80px;
    }
    @include xsm-screen {
      padding: 30px 8px;
      padding-top: 80px;
    }

    &__thumb {
      border-radius: 16px;
      overflow: hidden;
      margin-bottom: -165px;
      img {
        width: 100%;
      }
    }
  }
}
.about .section-heading {
  margin-bottom: 60px;

  @include lg-screen {
    flex-wrap: wrap;
  }

  @include msm-screen {
    margin-bottom: 24px;
  }
}
.about .section-heading__desc {
  max-width: 504px;
}

/* ======================  About Section End  ======================*/
