//============================== brand section start ==============================//
.brand {
  border-bottom: 1px solid hsl(var(--border-color));
  &-items {
    display: flex;
    align-items: center;
    gap: 34px;
    border-left: 1px solid hsl(var(--border-color));
    border-right: 1px solid hsl(var(--border-color));
    padding: 60px 40px;

    @include sm-screen {
      flex-wrap: wrap;
      padding: 40px;
    }
  }
}

.brand-slider {
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to right, hsl(var(--body-bg)), transparent);
    pointer-events: none;
    z-index: 2;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to right, transparent, hsl(var(--body-bg)));
    pointer-events: none;
    z-index: 2;
  }
}

.brand-title {
  font-size: 22px !important;
  font-weight: 700 !important;
  margin-bottom: 0px;
  span {
    white-space: nowrap;
  }

  @include msm-screen {
    font-size: 18px !important;
  }

  @include xsm-screen {
    font-size: 16px !important;
  }
}

.slide-transition {
  transition-timing-function: linear;
}

.brand-slider .swiper-slide {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-slider .swiper-slide img {
  max-width: 100%;
  height: auto;
}

//============================== brand section ends ==============================//
