/* ======================  Contact Section Start  ======================*/
.contact {
  &__wrapper {
    padding: 160px 40px;
    border-left: 1px solid hsl(var(--border-color));
    border-right: 1px solid hsl(var(--border-color));
    padding-bottom: 100px;

    @include sm-screen {
      padding: 60px 16px;
      padding-top: 120px;
    }
  }

  &__form {
    background-color: hsl(var(--black) / 0.02);
    padding: 24px;
    border-radius: 24px;
    border: 1px solid hsl(var(--border-color));

    @include xsm-screen {
      padding: 14px;
      border-radius: 14px;
    }
  }

  &__info {
    &__thumb {
      border-radius: 16px;
      overflow: hidden;
      margin-bottom: 36px;

      img {
        width: 100%;
      }
    }
  }
}

.contact__info__item {
  background-color: hsl(var(--black) / 0.02);
  padding: 20px 30px;
  border-radius: 24px;
  margin-bottom: 28px;
  &:last-child {
    margin-bottom: 0;
  }

  @include msm-screen {
    padding: 20px;
    border-radius: 16px;
  }
  &__icon {
    font-size: 16px;
    font-weight: 400;
    color: hsl(var(--body-color));
    margin-bottom: 8px;
  }

  &__title a {
    font-size: 18px;
    font-weight: 600;
    color: hsl(var(--body-color));
    margin-bottom: 8px;
    &:hover {
      color: hsl(var(--base));
    }

    @include msm-screen {
      font-size: 16px;
    }
  }

  &__desc {
    font-size: 14px;
    font-weight: 400;
    color: hsl(var(--body-color));
  }
}
/* ======================  Contact Section End  ======================*/

.form-shot .input__icon {
  left: 26px !important;
}

.textarea {
  padding-left: 24px !important;
}

.account__policy {
  label {
    font-size: 16px;
    font-weight: 400;
    color: hsl(var(--balck));
  }
}

.contact .section-heading {
  @include xl-screen {
    flex-wrap: wrap;
  }
}

.custom__input .form-control {
  background-color: transparent;
  border: none;
  padding: 2px;
}

.custom__input {
  display: flex;
  align-items: center;
  padding: 0;
  border: 1px solid hsl(var(--border-color));
  height: 68px;
  padding: 10px;
  gap: 8px;
  background-color: hsl(var(--white));
  border-radius: 16px;

  @include msm-screen {
    height: 50px;
    border-radius: 12px;
  }
}
.contact__heading__text {
  color: hsl(var(--black));
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}
