/* ======================  Features Section Start  ======================*/
.features {
  border-bottom: 1px solid hsl(var(--border-color));
  &__wrapper {
    border-left: 1px solid hsl(var(--border-color));
    border-right: 1px solid hsl(var(--border-color));
    padding: 100px 40px;
  }
  &__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    &__item {
      background-color: hsl(var(--black) / 0.01);
      padding: 24px;
      padding-bottom: 60px;
      border: 1px solid hsl(var(--base) / 0.1);
      border-radius: 16px;
      position: relative;
      z-index: 1;
      overflow: hidden;

      &:hover {
        border: 1px solid hsl(var(--base));

        .features__card__bg {
          opacity: 1;
        }

        .features__card__title {
          color: hsl(var(--base));
        }

        .features__card__icon {
          svg path {
            stroke: hsl(var(--base));
            fill: hsl(var(--base) / 0.06);
          }
        }
      }
    }

    &__bg {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      opacity: 0;
      transition: 0.3s;
    }
    &__icon {
      margin-bottom: 40px;
    }

    &__title {
      font-size: 28px;
      font-weight: 700;
      color: hsl(var(--body-color));
      margin-bottom: 16px;
    }

    &__desc {
      font-size: 20px;
      font-weight: 400;
      color: hsl(var(--body-color));
    }
  }
}

.features__card__item:nth-child(2) {
  margin-top: 20px;
  margin-bottom: -24px;
}
.features__card__item:nth-child(5) {
  margin-top: 20px;
  margin-bottom: -24px;
}

/* ======================  Features Section End  ======================*/
