/* ======================  How-it-works Section Start  ======================*/
.how-it-works {
  border-bottom: 1px solid hsl(var(--border-color));
  &__wrapper {
    padding: 100px 110px;
    border-left: 1px solid hsl(var(--border-color));
    border-right: 1px solid hsl(var(--border-color));

    @include md-screen {
      padding: 40px;
    }
    @include sm-screen {
      padding: 40px 16px;
    }
    @include xsm-screen {
      padding: 30px 8px;
    }
  }

  &__buttom {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;

    @include lg-screen {
      gap: 16px;
    }
  }
  &__line {
    height: 1px;
    width: 100%;
    background-color: hsl(var(--border-color));
    position: relative;
    z-index: 1;

    &::after,
    &::before {
      content: "";
      position: absolute;
      height: 50px;
      width: 1px;
      background-color: hsl(var(--border-color));
    }

    &::after {
      left: 0;
      top: -25px;
    }

    &::before {
      right: 0;
      top: -25px;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.3s;
    padding: 20px 0;
    padding-bottom: 15px;

    &:hover,
    &.active {
      .how-it-works__subtitle {
        color: hsl(var(--base));
      }
      .how-it-works__title {
        color: hsl(var(--base));
      }
      .how-it-works__desc {
        color: hsl(var(--black));
      }
      .how-it-works__button {
        color: hsl(var(--base));
        border-color: hsl(var(--base));
        background-color: hsl(var(--base) / 0.1);
        svg {
          color: hsl(var(--base));
        }
      }
    }
  }
  &__subtitle {
    font-size: 20px;
    font-weight: 400;
    color: hsl(var(--heading-color));
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    color: hsl(var(--heading-color));
    margin-bottom: 0;
    margin-left: 24px;
  }

  &__button {
    font-size: 16px;
    font-weight: 700;
    color: hsl(var(--body-color));
    padding: 17px 54px 17px 16px;
    border: 1px solid hsl(var(--border-color));
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    margin-left: 16px;

    @include md-screen {
      padding: 12px;
    }
    svg {
      @include xsm-screen {
        height: 24px;
        width: 24px;
      }
    }

    @include msm-screen {
      padding: 18px;
    }

    @include xsm-screen {
      padding: 10px;
      font-size: 14px;
    }
  }

  &__desc {
    font-size: 20px;
    font-weight: 400;
    color: hsl(var(--body-color));
    margin-left: 25px;

    @include msm-screen {
      font-size: 15px;
      margin-top: 12px;
    }
  }
}

.client__info {
  display: flex;
  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid hsl(var(--white));
    margin-left: -10px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(var(--section-bg));
    color: hsl(var(--base) / 0.6);
    font-size: 16px;
    font-weight: 500;
    border-radius: 50%;
    border: 2px solid hsl(var(--white));
    margin-left: -10px;
    flex-shrink: 0;
  }
}

.client__info__left {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.client__info__desc {
  font-size: 20px;
  font-weight: 400;
  color: hsl(var(--heading-color));
  max-width: 400px;

  @include msm-screen {
    font-size: 15px;
  }
}

/* ======================  How-it-works Section End  ======================*/
