/* ======================  Security Section Start  ======================*/
.security {
  position: relative;
  z-index: 1;

  &__wrapper {
    padding-top: 100px;
    border-left: 1px solid hsl(var(--border-color));
    border-right: 1px solid hsl(var(--border-color));
    position: relative;
    z-index: 1;
    overflow: hidden;

    &__heading {
      position: absolute;
      max-width: 617px;
      right: 0;
    }

    &__thumb {
      position: absolute;
      left: 24px;
      bottom: 0;
      z-index: 1;
    }

    &__shape {
      width: 100%;
      position: absolute;
      top: 74px;
      left: 0;
      z-index: -1;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__shape {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  &__item {
    &__icon svg {
      margin-bottom: 40px;
    }

    &__title {
      font-size: 24px;
      font-weight: 700;
      color: hsl(var(--body-color));
    }

    &__desc {
      font-size: 20px;
      font-weight: 400;
    }

    &__wrap {
      justify-content: flex-end;
      align-items: center;
      display: flex;
      overflow: hidden;
    }
    &__content {
      max-width: 340px;
    }
  }
}

/* ======================  Security Section End  ======================*/

.security__item__wrap:nth-child(1) .security__item__content {
  margin-right: auto;
  margin-left: 40px;
  margin-top: 100px;
  margin-bottom: 24px;
}
.security__item__wrap:nth-child(2) .security__item__content {
  margin-right: 44%;
  margin-bottom: 24px;
}
.security__item__wrap:nth-child(3) .security__item__content {
  margin-right: 20%;
  margin-bottom: 24px;
}
.security__item__wrap:nth-child(4) .security__item__content {
  margin-right: 40px;
  margin-bottom: 24px;
}
