/* ======================  Testimonial Section Start  ======================*/
.testimonial {
  padding: 100px 40px;
  background-color: hsl(var(--section-bg));
  border-bottom: 1px solid hsl(var(--border-color));

  @include sm-screen {
    padding: 40px 16px;
  }
  @include xsm-screen {
    padding: 30px 8px;
  }

  &__card {
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: 0.3s;

    @include msm-screen {
      height: 504px;
      width: 369px;
      object-fit: cover;
      margin: auto;
    }

    @include xsm-screen {
      height: 100%;
      width: 100%;
    }

    &__top-button {
      svg {
        @include md-screen {
          height: 30px;
          width: 30px;
        }
      }
      .toggle-icon {
        transition: transform 0.6s ease;
      }
      .toggle-icon.is-open {
        transform: rotate(180deg);
      }
    }

    &__showcase {
      transition:
        transform 0.6s ease,
        opacity 0.4s ease;
    }

    &__content {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      padding: 36px;
      width: 100%;

      @include sm-screen {
        padding: 16px;
      }
    }
    &__thumb {
      position: relative;
      z-index: 1;
      width: 100%;

      img {
        width: 100%;
      }

      &::after {
        content: "";
        position: absolute;
        backdrop-filter: blur(6px);
        background: linear-gradient(
          180deg,
          transparent,
          hsl(var(--base) / 0.5) 100%
        );
        mask-image: linear-gradient(
          to bottom,
          transparent 0%,
          hsl(var(--black)) 50%
        );
        z-index: 1;
        height: 54%;
        width: 100%;
        left: 0;
        bottom: 0;
      }
    }

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
      @include sm-screen {
        margin-bottom: 8px;
      }
    }
    &__name {
      font-size: 22px;
      font-weight: 700;
      color: hsl(var(--white));
      margin-bottom: 0;

      @include msm-screen {
        font-size: 20px;
      }
    }

    &__designation {
      font-size: 16px;
      font-weight: 400;
      color: hsl(var(--white));

      @include msm-screen {
        font-size: 14px;
      }
    }

    &__desc {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 16px;
      color: hsl(var(--white));

      @include md-screen {
        font-size: 15px;
      }

      @include msm-screen {
        font-size: 14px;
      }

      transition: 0.3s;
    }
  }
}

/* ======================  Testimonial Section End  ======================*/
